{%  extends "base.html" %}
{%  block title %}Sign Up{% endblock %}
{%  block content %}

    <form action="POST">
        <h3 align="center">Sign Up</h3>
        <div class="form-group">
            <label for="email">Email Adress</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email" />
            <label for="username">Password</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" />
            <label for="password1">Password</label>
            <input type="text" id="password1" name="password1" class="form-control" placeholder="Enter password" />
            <label for="password2">Confirm Password</label>
            <input type="text" id="password2" name="password2" class="form-control" placeholder="Enter password again" />
            <div align="center"><br>
                <buton class="btn btn-primary" type="submit" >Sign Up</buton>
            </div>
        </div>
    </form>

{% endblock %}
